<p>
  dashboard works!
</p>

<h5> Your profile picture</h5>
<img [src]="profilesrc" width="200" />
<div class="dashboard-welcome">
  <h5 class="newline" [ngClass]="'yourclass'">We wanna tell you: </h5>
  <span [ngStyle]="{'color': textColor, 'font-size': fontsize}">{{globaltitle}}</span>
</div>

<div class="dashboard-game">
  <p>Change the color here</p>
  <span (click)="changeTextColor(color)" class="colorbtn" [ngStyle]="{'background-color': color, 'padding': '10px', 'margin': '10px', 'margin-left':0 }"
    *ngFor="let color of colors">{{color | uppercase }}</span>
  <div [ngStyle]="{'margin-top': '15px'}">
    <button (click)="increment()">increase the size</button>
    <button (click)="decrease()">decrease the size</button>
  </div>

  <br />
  <br />

  <div class="counter-container">
    <input type="text" size="3" [value]="fontsize">
    <span (click)="increment();" [ngStyle]="{'cursor': 'pointer', 'font-size': '17px', 'background-color': '#fef4f2' , 'padding': '2px 4px 1px 4px', 'border': '1px solid black', 'border-radius': '4px'}">+</span>
    <span (click)="decrease();" [ngStyle]="{'cursor': 'pointer', 'font-size': '18px', 'background-color': '#fef4f2', 'padding': '1px 6px', 'border': '1px solid black', 'border-radius': '4px'}">-</span>
  </div>
  <hr>
  <br />
  <br />

  <label>write your name for me:</label>
  <input [(ngModel)]="name" placeholder="your name please" name="yourname" type="text" />
  <p>I repeat your name here. {{name}}</p>
  <button #b (click)="addName(name, b)">add my name</button>
  <br />
  <h2 *ngIf="gotData">Content:
    <br/>{{content.title}}</h2>
  <button (click)="caller()">refresh</button>

  <button (click)="refresher()">refresh1</button>

  <h3>List of our names:</h3>

  <b #it (click)="changeCSS(it)" *ngFor="let name of nameList">{{name}}
    <br />
  </b>